* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

body .header {
  height: 100vh;
  overflow: hidden;
  width: 100%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .header .navbar {
  position: absolute;
  width: 100%;
  background-color: #181818;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 0 4px #181818;
          box-shadow: 0 0 4px #181818;
}

body .header .navbar .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 5%;
  height: auto;
  padding: 1em;
  cursor: pointer;
}

body .header .navbar .logo img {
  height: 100%;
  width: 100%;
  margin: auto;
}

@media only screen and (max-width: 1723px) {
  body .header .navbar .logo {
    width: 6%;
    height: auto;
  }
}

@media only screen and (max-width: 1485px) {
  body .header .navbar .logo {
    width: 7%;
    height: auto;
  }
}

@media only screen and (max-width: 1238px) {
  body .header .navbar .logo {
    width: 8%;
    height: auto;
  }
}

@media only screen and (max-width: 1077px) {
  body .header .navbar .logo {
    width: 9%;
    height: auto;
  }
}

@media only screen and (max-width: 900px) {
  body .header .navbar .logo {
    width: 10%;
    height: auto;
  }
}

@media only screen and (max-width: 780px) {
  body .header .navbar .logo {
    width: 11%;
    height: auto;
  }
}

@media only screen and (max-width: 680px) {
  body .header .navbar .logo {
    width: 12%;
    height: auto;
  }
}

@media only screen and (max-width: 580px) {
  body .header .navbar .logo {
    width: 13%;
    height: auto;
  }
}

@media only screen and (max-width: 480px) {
  body .header .navbar .logo {
    width: 14%;
    height: auto;
  }
}

body .header .navbar .justifycontent {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

body .header .navbar .justifycontent ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .header .navbar .justifycontent ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .header .navbar .justifycontent ul li .fas {
  display: block;
  padding: 0.8rem 1rem;
  color: #e0e0e0;
  text-align: center;
  font-size: 1.2em;
  height: 100%;
  position: relative;
  cursor: pointer;
}

body .header .navbar .justifycontent ul a {
  display: block;
  text-decoration: none;
  padding: 0.8rem 1rem;
  color: #e0e0e0;
  text-align: center;
  font-size: 1.3em;
  height: 100%;
  position: relative;
  font-weight: 500;
}

body .header .navbar .justifycontent ul a::after {
  content: '';
  width: 90%;
  height: 3px;
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  background: #d79719;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  margin: 0 5%;
}

body .header .navbar .justifycontent ul a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

@media only screen and (max-width: 780px) {
  body .header .navbar .justifycontent ul a {
    font-size: 1.1em;
  }
}

@media only screen and (max-width: 750px) {
  body .header .navbar .justifycontent ul a {
    font-size: 1em;
  }
}

@media only screen and (max-width: 700px) {
  body .header .navbar .justifycontent ul li, body .header .navbar .justifycontent ul a {
    display: none;
  }
}

body .header .navbar .justifycontent .menuitems {
  margin: 0 2em 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .header .navbar .justifycontent .menuitems ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 1rem;
}

body .header .navbar .justifycontent .menuitems ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .header .navbar .justifycontent .menuitems ul a {
  display: block;
  text-decoration: none;
  padding: 0.8rem 1rem;
  color: #e0e0e0;
  text-align: center;
  font-size: 1.2em;
}

body .header .navbar .justifycontent .menuitems ul i {
  font-size: 1.5em;
}

@media only screen and (min-width: 1325px) {
  body .header .navbar .justifycontent .menuitems ul .fa-bars {
    display: none;
  }
}

@media only screen and (max-width: 1325px) {
  body .header .navbar .justifycontent .menuitems ul li {
    display: none;
  }
  body .header .navbar .justifycontent .menuitems ul li:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

body .header .vidheader {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}

body .container {
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  background-color: #181818;
}

body .container .swiper-container {
  width: 100%;
  height: 100%;
  margin: 0;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), color-stop(rgba(0, 0, 0, 0.85)), to(rgba(0, 0, 0, 0.9))), url(gallery/carbg01.jpg);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.9)), url(gallery/carbg01.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body .container .swiper-container .burgericon {
  display: block;
  top: 7%;
  left: 3.5%;
  position: absolute;
  cursor: pointer;
}

body .container .swiper-container .burgericon i {
  color: #997d1f;
  font-size: 3em;
}

body .container .swiper-container .hamburgermenushow {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 28%;
  height: 100%;
  z-index: 1000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #181818;
  align-items: center;
  -webkit-box-shadow: 0 0 6px #181818;
          box-shadow: 0 0 6px #181818;
}

body .container .swiper-container .hamburgermenushow ul {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .swiper-container .hamburgermenushow ul li {
  width: 100%;
  display: inline-block;
  list-style: none;
  font-size: 1.3em;
  margin: 0 10% 0 0;
  width: 100%;
  height: auto;
  border-bottom: 1px groove #838383;
}

body .container .swiper-container .hamburgermenushow ul li:nth-child(5) {
  border-bottom: none;
}

body .container .swiper-container .hamburgermenushow ul .active {
  color: #997d1f;
}

body .container .swiper-container .hamburgermenushow ul a {
  padding: 5% 0;
  width: 100%;
  height: auto;
  display: inline-block;
  text-decoration: none;
  color: #777777;
  font-weight: 900;
  cursor: pointer;
  margin: 0;
}

body .container .swiper-container .hamburgermenushow ul a:hover {
  color: #997d1f;
}

body .container .swiper-container .hamburgermenushow ul h2 {
  width: 100%;
  padding: 5% 10% 10% 0;
  color: #181818;
  text-shadow: 0 0 2px white;
  font-size: 3em;
}

body .container .swiper-container .hamburgermenushow ul .socialmedia {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  bottom: 5%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 10% 0 -5%;
}

body .container .swiper-container .hamburgermenushow ul .socialmedia i {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 3em;
  color: #9c9c9c;
}

body .container .swiper-container .hamburgermenushow ul .socialmedia i:hover {
  color: #997d1f;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

body .container .swiper-container .swipertitle {
  width: 100%;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  z-index: 1;
}

body .container .swiper-container .swipertitle h2 {
  color: #997d1f;
  margin-top: 5%;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 1;
  line-height: 0;
}

body .container .swiper-container .swipertitle p {
  font-size: 1.4em;
  text-transform: uppercase;
  font-weight: 100;
  color: #776118;
}

body .container .swiper-container .swipertitle h3 {
  color: #997d1f;
  margin-top: 5%;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 1;
  line-height: 0;
}

body .container .swiper-container .swipertitle h4 {
  font-size: 1.4em;
  text-transform: uppercase;
  font-weight: 100;
  color: #776118;
  line-height: 0;
}

body .container .swiper-container .titlesection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  color: #ffffff;
  text-align: center;
}

body .container .swiper-container .titlesection .bigtitle h2 {
  font-size: 3em;
  font-weight: 400;
}

body .container .swiper-container .swiper-wrapper {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
}

body .container .swiper-container .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 100%;
  margin: 0;
  color: #fff;
}

body .container .swiper-container .swiper-wrapper .swiper-slide .swipergallery {
  width: 100%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
}

body .container .swiper-container .swiper-wrapper .swiper-slide .swipergallery .pictureswiper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .container .swiper-container .swiper-wrapper .swiper-slide .swipergallery .pictureswiper .svj011 {
  width: 40%;
  height: auto;
  margin: auto auto 2% auto;
}

body .container .swiper-container .swiper-wrapper .swiper-slide .swipergallery .pictureswiper .sroadster011 {
  width: 40%;
  height: auto;
  margin: auto auto 2% auto;
}

body .container .swiper-container .swiper-wrapper .swiper-slide .swipergallery .pictureswiper .s011 {
  width: 40%;
  height: auto;
  margin: auto auto 2% auto;
}

body .container .swiper-container .swiper-button-next, body .container .swiper-container .swiper-button-prev {
  padding: 0 4%;
  color: #997d1f;
  font-weight: 1000;
}

@-webkit-keyframes showtitle {
  from {
    opacity: 0;
    letter-spacing: 1em;
  }
  to {
    opacity: 1;
    letter-spacing: normal;
  }
}

@keyframes showtitle {
  from {
    opacity: 0;
    letter-spacing: 1em;
  }
  to {
    opacity: 1;
    letter-spacing: normal;
  }
}

.hidelambo {
  display: none;
}

.hidden {
  display: none;
}
/*# sourceMappingURL=style.css.map */