@import './sass-options/_sass';

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    height: 100vh;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    .header{
        @include whm(100%,100vh,0);
        @include flexcol;
        .navbar{
            position: absolute;
            width: 100%;
            background-color: $black-color;
            display: flex;
            box-shadow: 0 0 4px $black-color;
            .logo{
                @include whm(5%,auto,0);
                display: flex;
                padding: 1em;
                cursor: pointer;
                img{
                    @include whm(100%,100%,auto);
                }
            }
            .justifycontent{
                justify-content: space-between;
                display: flex;
                width: 100%;
                ul{
                    display: flex;
                    list-style: none;
                    align-items: center;
                    li{
                        display: flex;
                        .fas{
                        display: block;
                        padding: 0.8rem 1rem;
                        color: $white-color;
                        text-align: center;
                        font-size: 1.2em;
                        height: 100%;
                        position: relative;
                        cursor: pointer;
                        }
                    }
                    a{
                        display: block;
                        text-decoration: none;
                        padding: 0.8rem 1rem;
                        color: $white-color;
                        text-align: center;
                        font-size: 1.3em;
                        height: 100%;
                        position: relative;
                        font-weight: 500;
                        &::after{
                            content: '';
                            @include whm(90%,3px,0 5%);
                            display: block;
                            position: absolute;
                            top: 100%;
                            left: 0;
                            background: $gold-color;
                            transition: transform 0.5s;
                            transform: scaleX(0);
                            transform-origin: right;
                        }
                        &:hover::after{
                            transform: scaleX(1);
                            transform-origin: left;
                        }
                    }
                    @media only screen and(max-width:780px){
                        a{
                            font-size: 1.1em;
                        }
                    }
                    @media only screen and(max-width:750px){
                        a{
                            font-size: 1em;
                        }
                    }
                    @media only screen and(max-width:700px){
                        li,a{
                            display: none;
                        }
                    }
                }
                
                .menuitems{
                    margin: 0 2em 0 0;
                    ul{
                        display: flex;
                        list-style: none;
                        align-items: center;
                        padding-right: 1rem;
                        li{
                            display: flex;
                        }
                        a{
                            display: block;
                            text-decoration: none;
                            padding: 0.8rem 1rem;
                            color: $white-color;
                            text-align: center;
                            font-size: 1.2em;
                        }
                        i{
                            font-size: 1.5em;
                        }
                        @media only screen and(min-width:1325px){
                            .fa-bars{
                                display: none;
                            }
                        }


                        @media only screen and(max-width:1325px){
                            li{
                                display: none;
                                &:last-child{
                                    display: flex;
                                }
                            }
                        }
                    }
                }
            }
            
        }
        .vidheader{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            min-width: 100%;
            min-height: 100%;
            z-index: -1;
        }



    }
    .container{
        @include whm(100%,100%,0);
        overflow-x: hidden;
        background-color: $black-color;
        .swiper-container{
            @include whm(100%,100%,0);
            background-image: linear-gradient(to top,rgba(0,0,0,.5),rgba(0,0,0,.85),rgba(0,0,0,.9)) ,url(../gallery/carbg01.jpg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            //hamburger icon page 2
            .burgericon{
                display: block;
                top: 7%;
                left: 3.5%;
                position: absolute;
                cursor: pointer;
                i{
                    color: $gold-color;
                    font-size: 3em;
                }
            }

            //menushow
            .hamburgermenushow{
                @include whm(28%,100%,0);
                @include flexcol;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1000;
                align-items: center;
                text-align: center;
                background-color: $black-color;
                box-shadow: 0 0 6px $black-color;
                ul{
                    @include whm(100%,100%,0);
                    @include flexcol;
                    position: absolute;
                    top: 0;
                    left: 0;
                    text-align: center;
                    align-items: center;
                    li{
                        @include whm(100%,auto,0 10% 0 0);
                        display: inline-block;
                        list-style: none;
                        font-size: 1.3em;
                        border-bottom: 1px groove $grey-color;
                        &:nth-child(5){
                            border-bottom: none;
                        }
                    }
                    .active{
                        color: #997d1f;
                    }
                    a{
                        padding: 5% 0;
                        @include whm(100%,auto,0);
                        display: inline-block;
                        text-decoration: none;
                        color: $grey-color;
                        font-weight: 900;
                        cursor: pointer;
                        &:hover{
                            color: $gold-color;
                        }
                    }
                    h2{
                        width: 100%;
                        padding: 5% 10% 10% 0;
                        color: $black-color;
                        text-shadow: 0 0 2px white;
                        font-size: 3em;
                        //text-transform: uppercase;
                    }
                    .socialmedia{
                        width: 60%;
                        display: flex;
                        flex-direction: row;
                        position: absolute;
                        bottom: 5%;
                        justify-content: space-between;
                        margin: 0 10% 0 -5%;
                        i{
                            cursor: pointer;
                            display: flex;
                            font-size: 3em;
                            color: $grey-color;
                            &:hover{
                                color:$gold-color;
                                transform: scale(1.1);
                            }
                        }
                    }
                }

            }
            .swipertitle{
                @include whm(100%,30%,auto);
                @include flexcol;
                text-align: center;
                z-index: 1;
                //animation: showtitle 3s forwards;
                h2{
                    color: $gold-color;
                    margin-top: 5%;
                    font-size: 2em;
                    text-transform: uppercase;
                    font-weight: 1;
                    line-height: 0;
                }
                p{
                    font-size: 1.4em;
                    text-transform: uppercase;
                    font-weight: 100;
                    color: darken($gold-color,8%);
                }
                h3{
                    color: $gold-color;
                    margin-top: 5%;
                    font-size: 2em;
                    text-transform: uppercase;
                    font-weight: 1;
                    line-height: 0;
                }
                h4{
                    font-size: 1.4em;
                    text-transform: uppercase;
                    font-weight: 100;
                    color: darken($gold-color,8%);
                    line-height: 0;
                }
            }
            .titlesection{
                @include flexcol;
                margin: 0;
                color: $white-color;
                text-align: center;
                .bigtitle{
                    h2{
                        font-size: 3em;
                        font-weight: 400; 
                    }
                }
            }
            .swiper-wrapper{
                @include whm(100%,100%,0);
                text-align: center;
                .swiper-slide{
                    @include whm(100%,100%,0);
                    color: $white-color;
                    .swipergallery{
                        @include whm(100%,70%,0);
                        @include flexcol;
                        justify-content: center;
                        align-items: center;
                        z-index: 100;
                        .pictureswiper{
                            display: flex;
                            .svj011,.sroadster011,.s011{
                                @include whm(40%,auto,auto auto 2% auto);
                            }
                        }
                    }
                }
            }
            .swiper-button-next, .swiper-button-prev{
                padding: 0 4%;
                color:$gold-color;
                font-weight: 1000;
            }
        }
    }
}

@keyframes showtitle{
    from{
        opacity: 0;
        letter-spacing: 1em;
    }

    to{
        opacity: 1;
        letter-spacing: normal;
    }
}

.hidelambo{
    display: none;
}
.hidden{
    display: none;
}



